* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
  color: white;
  overflow-x: hidden;
}

// padding: 120px 8% 0 8%;
// background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
