.home {
  gap: 6rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 8%;
  img {
    border-radius: 50%;
    width: 100%;
    max-width: 380px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 6px solid #2196f3;
    box-shadow: 0 10px 40px rgba(33, 150, 243, 0.3);
  }
  .content {
    width: 100%;
    max-width: 640px;
    .header {
      font-size: 1.3rem;
      b {
        color: #b0b0b0;
        font-weight: lighter;
      }
      small {
        color: #2196f3;
        font-weight: 600;
      }
    }
    h1 {
      margin: 20px 0;
      color: #2196f3;
      font-size: 60px;
      font-weight: 800;
    }
    p {
      margin-bottom: 40px;
      color: #b0b0b0;
      // text-align: justify;
      // font-size: 18px;
    }
    button {
      padding: 14px 35px;
      border: 2px solid #2196f3;
      background: transparent;

      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      border-radius: 5px;
      a {
        color: white;
      }
    }
    @media (max-width: 420px) {
      h1 {
        font-size: 40px;
      }
      .ctas {
        flex-direction: column;
      }
    }
  }
  @media (max-width: 932px) {
    flex-direction: column;
  }
}
