.project {
  padding: 120px 8%;
  h2 {
    color: #2196f3;
    margin-bottom: 2rem;
    font-size: 40px;
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    .grid-item {
      box-shadow: 0 6px 50px rgba(33, 150, 243, 0.3);
      border-radius: 10px;
      padding: 20px;
      img {
        width: 100%;
        border-radius: 10px;

        // width: 100%;
        // height: 200px;
        object-fit: cover;
        // display: block;
        // border-radius: 15px;
      }
      .item-content {
        // padding: 10px;
        .tech-stack {
          margin-top: 20px;
          span {
            background-color: blue;
            padding: 5px 8px;
            border-radius: 7px;
          }
        }
        .view {
          justify-content: flex-end;
          margin-top: 20px;
          a {
            color: white;
            background: linear-gradient(
              to right,
              rgb(53, 53, 233),
              rgb(122, 32, 122)
            );
            text-decoration: none;
            padding: 5px 8px;
            border-radius: 7px;
          }
        }
      }

      &:nth-child(1) {
        img {
          max-height: 150px;
        }
      }
      &:nth-child(2) {
        img {
          max-height: 150px;
        }
      }
      &:last-child {
        img {
          max-height: 150px;
        }
      }
    }
  }
}
